	<!-- Begin Features -->
	<section id="features">
		<div class="container">
			<!-- Cards -->
			<!-- Card 1 -->
			<div class="card">
				<a href="https://sites.google.com/d/1gsWN4s3NhvmrXeE8MFHtO6eFPXO2eKx_/p/1SiCBn9VzaN2-EO_uF59bkAiNsYD9SaHB/edit"><h3>Career</h3></a>
				<div class="cardcareer"></div>
                <p>Review my career documents including my resume, cover letter, and job application.</p>
			</div>
			<!-- Card 2 -->
			<div class="card">
				<h3>Design</h3>
				<p>Review my website designs and image creations.</p>
			</div>
			<!-- Card 3 -->
			<div class="card">
				<h3>Programing</h3>
				<p>Review my JavaScript application.</p>
			</div>
		<!-- End Container -->
	</section>
	<!-- End Features -->
	<style>
    a
    {
        color: black;
    }
    #features
    {
    min-height: 200px;
    background-color: #382617;
    padding: 1rem;
    }
    #features .container
    {
        padding-top: 2rem;/* Separate from Showcase */
        background-color: #1f150d;
        display: flex;
        gap:1rem;
        justify-content: space-between;
        flex-direction: column;
    }
    .card
    {
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0rem 0rem 1rem silver;
        margin-bottom: 2rem;
        border-radius: 2.5rem;
    }
    .cardcareer
    {
        background-color: #fff;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 2.5rem;
        background-image: url(/dist/images/career.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* End features section styles */
	  /* Media Queries */
	@media only screen and (min-width: 320px)
    {
        
    }



    @media only screen and (min-width: 480px)
    {
        
    }



    @media only screen and (min-width: 768px)
    {
        .card
        {
            flex-basis: 30%;
        }
        #features .container
        {
            flex-direction: row;
        }
        h1, h2
        {
            text-align: left;
        }
    }
	</style>