	<!-- Begin Pagefooter -->
	<footer id="pagefooter">
		<div class="container">
				<div id="quote">
					<h3>Quote</h3>
				<blockquote>Why pamper life's complexity when the leather runs smooth on the passanger seat - The Smiths</blockquote>
			</div>
				<!-- end quote -->

			<div id="pagefooterlinks">
				<h3>Links</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
			</div>
		</div>
		<!-- End Container -->
	</footer>
	<!-- End Pagefooter -->