	<!-- Begin Semesters -->
	<section id="semesters">
		<div class="container">
			<h2>Key assignments</h2>

			<section id="workthumbnails">
				<div class="thumbnail">
<a href="https://chsserver01.org/2023/fmartinez062023/Demos/PaintBrush1/paintbrush2.html">					<img class="thumb" src="images/PaintBrush.png" alt="Paint Brush"></a>
					<img class="thumb" src="images/canvas.png" alt="Canvas">
					<img class="thumb" src="images/AF001WAD.png" alt="AD001WAD">
					<img class="thumb" src="images/AFB001.png" alt="AFB001">
					<img class="thumb" src="images/AFB003.png" alt="AFB003">
					<img class="thumb" src="images/CanvasInterface.png" alt="Canvas Interface">
				</div>
			</section>

			<h3>Semester 1</h3>
			<ul class="assignments">
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Demos/flexbox001/flexbox002.html" target="new">flexbox002</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Demos/PaintBrush1/paintbrush1.html" target="new">Paintbrush1</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Demos/PaintBrush1/paintbrush2.html" target="new">Paintbrush2</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Activities/AFB003/afb003.html" target="new">AFB003</a></li>
			</ul>

			<h3>Semester 2</h3>
			<ul class="assignments">
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Activities/canvasinterface.html" target="new">Canvas Interface</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/" target="new">Index Page</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Demos/ModernLayout/modernlayout.html" target="new">Modern Layouts</a></li>
				<li><a href="https://chsserver01.org/2023/fmartinez062023/Demos/ArraysReview/arraysreview.html" target="new">Arrays Review</a></li>
			</ul>
		</div>
		<!-- End Container -->
	</section>
	<!-- End Semesters -->